@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="CREATIVES">
    <meta name="keywords" content="CREATIVES">
    <meta name="author" content="CREATIVES">
    <link rel="icon" href="~/assets/images/favicon/8.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/logos/11.png" type="image/x-icon">
    <title>CREATIVES</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/color8.css" media="screen" id="color">

</head>



<body>


    <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-dark2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>@localizer["Welcome"] </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: +905468940531</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist">
                                <a href="/WishList/wishlist">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    @localizer["wishlist"]
                                </a>
                            </li>
                            <li class="mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <partial name="_LoginPartial" />

                            </li>




                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container layout3-menu">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left around-border">

                            <div class="main-menu-right">
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal light-font-menu">
                                        <li>
                                            <div class="mobile-back text-right">
                                                Back<i class="fa fa-angle-right pl-2"
                                                       aria-hidden="true"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="/Home/Index">@localizer["Home"]</a>

                                        </li>

                                        @await Component.InvokeAsync("Categories")

                                        <li>

                                            <a asp-controller="Reviews" asp-action="Reviews"> @localizer["Reviews"]</a>
                                            <ul>


                                                <li><a asp-controller="Reviews" asp-action="Reviews">View Reviews</a></li>

                                                <li>
                                                    <a asp-controller="Reviews" asp-action="ReviewsMainPage">
                                                        Write Review <span class="new-tag">new</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>

                                        <li>
                                            <a href="/Contact/Index">@localizer["ContactUs"]</a>

                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="absolute-logo">
                            <div class="brand-logo">
                                <a href="~/"><img alt="" src="~/assets/images/logos/11.png"></a>
                            </div>
                        </div>


                        <div class="">
                            <div class="menu-right pull-right">
                                <div>
                                    <div class="icon-nav">
                                        <ul>


                                            @*<li class="onhover-div mobile-search">
                                                    <div>
                                                        <img alt="" src="~/assets/images/icon/layout4/search.png"
                                                             onclick="openSearch()" class="img-fluid blur-up lazyload"> <i class="ti-search" onclick="openSearch()"></i>
                                                    </div>
                                                    <div id="search-overlay" class="search-overlay">
                                                        <div>
                                                            <span class="closebtn" onclick="closeSearch()"
                                                                  title="Close Overlay">×</span>
                                                            <div class="overlay-content">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-xl-12">
                                                                            <form>
                                                                                <div class="form-group">
                                                                                    <input type="text" class="form-control"
                                                                                           id="exampleInputPassword1"
                                                                                           placeholder="Search a Product">
                                                                                </div>
                                                                                <button type="submit"
                                                                                        class="btn btn-primary">
                                                                                    <i class="fa fa-search"></i>
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>*@


                                            <li class="onhover-div mobile-setting">
                                                <div>
                                                    <img alt="" src="~/assets/images/icon/layout4/setting.png"
                                                         class="img-fluid blur-up lazyload"> <i class="ti-settings"></i>
                                                </div>
                                                <div class="show-div setting">
                                                    <h6>language</h6>
                                                    <ul>

                                                        <partial name="_LanguaguePartial" />

                                                    </ul>

                                                </div>
                                            </li>



                                            <li class="onhover-div mobile-cart">
                                                <div>
                                                    <img src="~/assets/images/jewellery/icon/cart.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                    @await Component.InvokeAsync("SmallCartCount")
                                                </div>

                                                <ul class="show-div shopping-cart">
                                                    @await Component.InvokeAsync("SmallCart")
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- header end -->


    @RenderBody()
    <!-- footer -->
    <footer>
        <div class="dark-layout">
            <div class="container">
                <section class="section-b-space border-b">
                    <div class="row footer-theme2">
                        <div class="col-lg-3">
                            <div class="footer-title footer-mobile-title">
                                <h4>about</h4>
                            </div>
                            <div class="footer-contant">
                                <div class="footer-logo"><img src="~/assets/images/logos/11.png" alt=""></div>
                                <p>
                                    We hope to achieve your fashion style with affordable money
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 subscribe-wrapper">
                            <div class="subscribe-block">
                                <h2>newsletter</h2>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleFormControlInput3"
                                               placeholder="Enter your email">
                                        <button type="submit" class="btn btn-solid">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-title">
                                <h4>store information</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-details">
                                    <li>Istanbul,Avcılar merkez, lemon sokak </li>
                                    <li>Call Us: +905468940531</li>
                                    <li>Email Us: <a href="#">ahmedmegahed764@gmail.com</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="dark-layout">
            <div class="container">
                <section class="small-section">
                    <div class="row footer-theme2">
                        <div class="col p-set">

                            <div class="footer-link-b">
                                <div class="footer-title">
                                    <h4>What We Offer</h4>
                                </div>
                                <div class="footer-contant">
                                    <ul>
                                        <li><a href="#">shipping & return</a></li>
                                        <li><a href="#">secure shopping</a></li>
                                        <li><a href="#">gallary</a></li>
                                        <li><a href="#">affiliates</a></li>
                                        <li><a href="#">contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="sub-footer darker-subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2021-2022 themeforest powered by
                                AHMED MEGAHED
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="payment-card-bottom">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/visa.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/mastercard.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/paypal.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/american-express.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/images/icon/discover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end footer -->
    <!-- theme setting -->
    <a href="javascript:void(0)" onclick="openSetting()">
        <div>
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>

    </a>
    <div id="setting_box" class="setting-box">
        <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
        <div class="setting_box_body">

            <div class="setting-body">





                <div class="setting-title">
                    <h4>color picker</h4>
                </div>
                <div class="setting-contant">
                    <ul class="color-box">
                        <li>
                            <input id="ColorPicker1" type="color" value="#5fcbc4" name="Background">
                            <span>theme deafult color</span>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
    <!-- theme setting -->
    <!-- tap to top -->
    <div class="tap-top">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <!-- menu js-->
    <script src="~/assets/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="~/assets/js/slick.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/assets/js/bootstrap-notify.min.js"></script>

    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#exampleModal').modal('show');
            }, 2500);
        });

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>