@model HomePageViewModel

<body>
    <!-- Home slider -->
    <section class="p-0">
        <div class="slide-1 home-slider">
            @foreach (var slider in Model.ListSlider)
            {
                <div>

                    <div class="home text-center">

                        <img src="@string.Format("/Slider/{0}", slider.ImageName)" alt="" class="bg-img blur-up lazyload">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="slider-contain">
                                        <div>
                                            <h4>@slider.Description</h4>
                                            <h1>@slider.Title</h1>
                                            <a href="/Home/All" class="btn btn-solid">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            }

        </div>
    </section>
    <!-- Home slider end -->
    <!-- collection banner -->
    <section class="banner-padding banner-furniture ratio2_1">
        <div class="container-fluid">
            <div class="row partition3">
                @foreach (var banner in Model.ListBanner)
                {
                    <div class="col-md-6">
                        <a href="/Home/@banner.BannerName">
                            <div class="collection-banner p-left text-left">
                                <div class="img-part">
                                    <img src="@string.Format("/banners/{0}", banner.ImageName)" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <div class="contain-banner">
                                    <div>
                                        <h4>@banner.BannerTitle</h4>
                                        <h2>@banner.BannerName</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- collection banner end -->
    <!-- Tab product -->
    <div class="title1 section-t-space">
        <h4>exclusive products</h4>
        <h2 class="title-inner1">special products</h2>
    </div>


    <section class="section-b-space p-t-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="theme-tab">
                        <ul class="tabs tab-title">

                            <li class="current"><a href="tab-4">New Products</a></li>

                            <li class=""><a href="tab-5">Featured Products</a></li>
                            <li class=""><a href="tab-6">Best Sellers</a></li>

                        </ul>

                        <div class="tab-content-cls">
                            <div id="tab-4" class="tab-content active default">

                                <div class="no-slider row">
                                    @foreach (var New in Model.ListNewProducts)
                                    {
                                        <div class="product-box">
                                            <div class="img-wrapper">
                                                <div class="ajaxbg d-none">
                                                    <img src="~/assets/images/ajax-loader.gif" />
                                                    <p class="lead alert alert-info text-center d-none">
                                                        Successfully added to cart
                                                    </p>
                                                </div>
                                                <div class="front">
                                                    <a asp-controller="Details" asp-action="Details" asp-route-id="@New.TbProductId">
                                                        <img src="@string.Format("/Uploads/{0}", New.ImageName)"
                                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                                    </a>
                                                </div>


                                                <div class="cart-info cart-wrap">
                                                    <a data-target="#addtocart"
                                                       title="Add to cart" asp-controller="ShoppingCart" asp-action="AddToCart"
                                                       data-id="@New.TbProductId" asp-route-id="@New.TbProductId" class="AddToCart">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>


                                                    <a asp-controller="WishList" asp-action="AddToWishList" data-id="@New.TbProductId" class="AddTowishlist" asp-route-id="@New.TbProductId" title="Add to Wishlist">
                                                        <i class="ti-heart"
                                                           aria-hidden="true"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="product-detail">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="product-page(no-sidebar).html">
                                                    <h6>@New.ProductName</h6>
                                                </a>
                                                <h4>@New.SalesPrice$</h4>

                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>
                            <div id="tab-5" class="tab-content active default">

                                <div class="no-slider row">
                                    @foreach (var New in Model.ListFeaturedProducts)
                                    {
                                        <div class="product-box">
                                            <div class="img-wrapper">
                                                <div class="ajaxbg d-none">
                                                    <img src="~/assets/images/ajax-loader.gif" />
                                                    <p class="lead alert alert-info text-center d-none">
                                                        Successfully added to cart
                                                    </p>
                                                </div>
                                                <div class="front">
                                                    <a asp-controller="Details" asp-action="Details" asp-route-id="@New.TbProductId">
                                                        <img src="@string.Format("/Uploads/{0}", New.ImageName)"
                                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                                    </a>
                                                </div>


                                                <div class="cart-info cart-wrap">
                                                    <a data-target="#addtocart"
                                                       title="Add to cart" asp-controller="ShoppingCart" asp-action="AddToCart"
                                                       data-id="@New.TbProductId" asp-route-id="@New.TbProductId" class="AddToCart">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>


                                                    <a asp-controller="WishList" asp-action="AddToWishList" data-id="@New.TbProductId" class="AddTowishlist" asp-route-id="@New.TbProductId" title="Add to Wishlist">
                                                        <i class="ti-heart"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-detail">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="product-page(no-sidebar).html">
                                                    <h6>@New.ProductName</h6>
                                                </a>
                                                <h4>@New.SalesPrice$</h4>

                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>
                            <div id="tab-6" class="tab-content active default">

                                <div class="no-slider row">
                                    @foreach (var New in Model.ListBestSeller)
                                    {
                                        <div class="product-box">
                                            <div class="img-wrapper">
                                                <div class="ajaxbg d-none">
                                                    <img src="~/assets/images/ajax-loader.gif" />
                                                    <p class="lead alert alert-info text-center d-none">
                                                        Successfully added to cart
                                                    </p>
                                                </div>
                                                <div class="front">
                                                    <a asp-controller="Details" asp-action="Details" asp-route-id="@New.TbProductId">
                                                        <img src="@string.Format("/Uploads/{0}", New.ImageName)"
                                                             class="img-fluid blur-up lazyload bg-img" alt="">
                                                    </a>
                                                </div>

                                                <div class="cart-info cart-wrap">
                                                    <a data-target="#addtocart"
                                                       title="Add to cart" asp-controller="ShoppingCart" asp-action="AddToCart"
                                                       data-id="@New.TbProductId" asp-route-id="@New.TbProductId" class="AddToCart">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>


                                                    <a asp-controller="WishList" asp-action="AddToWishList" data-id="@New.TbProductId" class="AddTowishlist" asp-route-id="@New.TbProductId" title="Add to Wishlist">
                                                        <i class="ti-heart"
                                                           aria-hidden="true"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="product-detail">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="product-page(no-sidebar).html">
                                                    <h6>@New.ProductName</h6>
                                                </a>
                                                <h4>@New.SalesPrice$</h4>

                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tab product end -->
    <!-- Parallax banner -->
    <section class="p-0">
        <div class="full-banner parallax text-center p-left">
            <img src="~/Slider/-93.webp" alt="" class="bg-img blur-up lazyload">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-contain">
                            <h2>2021</h2>
                            <h3>fashion trends</h3>
                            <h4>special offer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Parallax banner end -->
    <!-- product slider -->
    <section class="">
        <div class="container">
            <div class="row multiple-slider">
                @foreach (var item in Model.ListCategory)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="theme-card">
                            <h5 class="title-border">@item.Category.CategoryName</h5>
                            <div class="offer-slider slide-1">
                                @foreach (var item2 in Model.ListAllProducts.Where(a => a.CategoryId == item.CategoryId))
                                {
                                    <div>
                                        <div class="media">
                                            <a asp-controller="Details" asp-action="Details" asp-route-id="@item2.TbProductId">
                                                <img class="img-fluid blur-up lazyload"
                                                     src="@string.Format("/Uploads/{0}",item2.ImageName)" alt="">
                                            </a>
                                            <div class="media-body align-self-center">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="product-page(no-sidebar).html">
                                                    <h6>@item2.ProductName</h6>
                                                </a>
                                                <h4>@item2.PurchasePrice$ <del>@item2.SalesPrice$</del></h4>
                                            </div>
                                        </div>

                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- product slider end -->




</body>

@section Scripts
 {

    <script>
        $(function () {

            $("a.AddToCart").click(function (e) {
                e.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");

                $.get('/ShoppingCart/AddToCart/' + id, {}, function (data) {
                    $("ul.show-div").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");
                        });
                    });
                });
            });


        });

        $(function () {

            $("a.AddTowishlist").click(function (e) {
                e.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");

                $.get('/WishList/AddToWishList/' + id, {}, function (data) {
                    $("li.show-div").html(data);

                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);

                            $(this).find("img").removeClass("d-none");

                            $(this).find("p").addClass("d-none");
                        });
                    });
                });
            });


        });
    </script>
}